
/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
    /* ---- element styles ---- */

    img{
      max-width: 100%;
      padding: 5px;
    }

    .inline-list li{
      display: inline-block;
      font-family: sans-serif;
  }
  
  
  a{
      color: black;
  }
  
  a:hover{
      color: black;
  }
  
  
  /* ---- typography ---- */
  
  body {
    color: #111;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 150%;
    font-weight: 100;
  }


  
  a:link {
    text-decoration: none;
  }
  

  h1 {}
  
  h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 55px;
  }
  
  h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 3px;
    padding: 30px 0;
    text-align: center;
  }

  h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 55px;

  }
  
  /* ---- layout ---- */
  
     /* ---- header ---- */

  .page-header{
    background: transparent;
    color: #444444;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 4px;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: all ease-in-out 500ms;
  }
  .white-header{
    background: white;
  }
  .page-header a{
    color: #444444;
    margin: 5px 17px;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    /* transition: all 1s ease; */
  }

  .page-header a:hover{
    border-bottom: 5px solid yellow;
  }
 

  .page-header h1{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 3px;
  }  

  .main-footer{
    color: white;
    padding: 30px 0;
    background: black;
    text-align: center;
  }
  
  .container{
    margin: 0 20px;
    max-width: 1024px;
    padding: 20px 0;
    /* border: 1px solid black; */
  }
  
  section{
    /* margin-bottom: 20px; */
    padding-top: 20px;
  }
  
  section:nth-of-type(even){
      background: #f2f2f2;
  }

  /* ---- components ---- */

  section#about{
    text-align: center;
    padding: 20px 20px;
  }

  .btn{
    background: transparent;
    display: inline-block;
    color: #444444;
    border-radius: 20px;
    border: 1px solid #cacaca;
    padding: 5px 20px;
    margin: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1px;
    transition-duration: all 0.4s ease;
    /* animation-name: blink;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite; */
  }

  .btn:hover {
    -webkit-transition-duration: 0.4s; 
    transition-duration: all 0.4s ease;
    background-color: #f2f2f2; 
    color: #444444;
    border: 1px solid white;
  }
  
   /* ---- banner ---- */
    .content-banner{
      height: 100vh;
      background: url(https://images.unsplash.com/photo-1526376043067-5af36c35cd6c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1339&q=80) center fixed;
      /* background: white center fixed; */
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      color: #444444;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      
    }
    
    .content-banner h1{
      padding: 20px;
      font-family: 'Poppins', sans-serif;
      font-weight: 300;
      font-size: 0px;
      letter-spacing: 3px;
      margin-bottom: 5px;
      margin-top: 40px;
    }
    
    .content-banner h2{
      padding: 5px;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      font-size: 60px;
      margin-bottom: 5px;
      
    }

    .content-social {
      display: flex;
      font-size: 25px;
      flex-direction: column;
      justify-content: space-around;
      position: absolute;
      top: 50%;
      height: 150px;
      color: grey;
      right: 1.5rem;
      -webkit-transform: translate3d(0, -50%, 0);
      -ms-transform: translate3d(0, -50%, 0);
      transform: translate3d(0, -50%, 0);
    }
    /* .fa-linkedin{
      color: #444444;

    }
    .fa-medium{
      color: #444444;
      
    }
    .fa-behance-square{
      color: #444444;
      
    } */

    .content-social a{
      padding: 20px;
      color: #444444;

      display: block;
    }
    
    /* .flex-list > div{
      flex-basis: 100%;
      position: relative;
    } */

  /* ---- portfolio ---- */
  .link-image{
    display: block;
  }
  .flex-list{
    display: flex;
    flex-wrap: wrap;
  }
  .flex-list li{
    position: relative;
  }
  .flex-list li:hover{
    position: relative;
    opacity: 0,5;
  }
  .portfolio-image{
    width: 100%;
  }

  .portfolio-image a{
    display: block;
  }

  .flex-list img{
    width: 100%;
  }
  .portfolio-title {
    border-radius: 20px;

    padding: 5px 20px;
    margin: 0 10px;
    position: absolute;
    transition-duration: all 0.4s ease;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
 
  }

  .flex-list li .portfolio-title:hover + .portfolio-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: .5;
}
  .flex-list li:hover .portfolio-title {
    -webkit-transition-duration: 0.4s; 
    transition-duration: all 0.4s ease;
    color: #444444;
    position: absolute;
    opacity: 1;

  }
  .portfolio-image:hover {
    opacity: 0.5;
  }

#about {
  height: 100vh;
  display: flex;
  align-items: center;
}
  




  /* ---- section ---- */
  .section-intro {
    text-align: center;
    max-width: 90%;
    margin: 0 auto 30px auto;
  }


    /* ---- contact ---- */
    
    #contact {
      text-align: center;
      padding: 30px 0;
    }

  .container-contact {
    display: flex;
    justify-content: space-around;
    text-align: left;
    align-items: flex-start;
    max-width: 80%;

  }

    /* ---- footer ---- */
  
    .main-footer { 
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        font-weight: 100;
    }

  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
    .portfolio-list li{
      width: 50%;
  }
    .flex-list li{
      flex-basis: 50%;
    }
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .portfolio-list li{
        width: 33%;
    }
    .flex-list li{
      flex-basis: 33%;
    }
    .section-intro{
      max-width: 50%;
 
    }
    #about > h2 {
      padding: 0 50px;
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .container{
        margin: 0 auto;
    }
    .page-header h1{
      font-size: 1em;
    }  
    .portfolio-list li{
        width: 24%;
    }
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {

  }

 /*animation functions */ 

 @keyframes blink{
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
 }
